*{
    font-family: poppins, sans-serif;
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root{
            /* colors */
    --body-color:#E4E9F7;
    --sidebar-color:#fff;
    --primary-color:#ffc61f; 
    --primary-color-light:#F6F5FF;
    --text-color:#000;
  
          /*transition*/
     --tran-03: all 0.2s ease;
}

body{
    height: 100vh;
    background: var(--body-color);
}

.sidebar{
    position: fixed;
    top: 0;
    bottom: 0px;
    left: 0px;
    width: 220px;
    background-color: var(--sidebar-color);
    padding: 15px 10px;
}

.sidebar.active{
    width: 68px;
}
.sidebar .header{
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    gap:20px;
    padding: -0 10px;
}

.sidebar .header .icon{
    font-size: 25px;
}

.sidebar .header .title{
font-size: 25px;
font-weight: 500;
}

.sidebar.active .title{
    display: none;
}

.sidebar .menu-bar{
    list-style-type: none;
}

.sidebar .menu-bar li {
   
    margin-bottom: 5px;
}

.sidebar .menu-bar li a{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap:20px;
}
.sidebar.active .menu-bar span.text{
    display: none;
}

.sidebar .menu-bar li a:hover{
    background: #ffc61f;
    color: var(--sidebar-color);
}

.sidebar .menu-bar li a.active{
    background: #ffc61f;
    color: var(--sidebar-color);
}

.sidebar .menu-bar{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main{
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    overflow: hidden;
}

.main .heading{
    margin-top: 10px;
}

.sidebar.active ~ .main{
    left: 90px;
    width: calc(100% - 90px);
}